@import '../../styles.css';

.home-header {
  width: 100%;
  margin-bottom: 3rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to right, var(--aquamarine) 10%, white, var(--aquamarine) 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: screen;

  font-family: "Lobster";

  & h1 {
    font-size: 3rem;
    margin: 0;
  }

  & span {
    font-family: "Lobster";
    font-size: 1.5rem;
  }
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  & a {
    margin: 1rem;
  }

  & img {
    width: 25px;
    height: 25px;
  }
}

