@import '../../styles.css';

.about-section {
  display: flex;
  justify-content: center;
  align-items: top;
  max-width: 1000px;
  margin: 3rem auto 0;
}

.about-content {
  padding: 0 2rem;
}

.about-image {
  clip-path: circle();
  width: 250px;
  height: 250px;
}
