<div class="about-section">
  <img src={{imgSrc}} alt="About Me Image" class="about-image"/>
  <div class="about-content">
    <h1>{{title}}</h1>
    <span>
      Hey Everyone! My name is Marie Schmidt and I am a 26 year old California native making my way in Colorado. It's not always easy for a beach goer like me "roughing it" in the mountains, but there is so much beauty in those tall peaks! Let's just say it is growing on me.
      <br />
      <br />
      I currently work as a front-end web developer for Kenzan, LLC out of Denver, CO. I won't lie, this blog came out of a curiousity for some of the new web development tools out there... Namely Angular2, Webpack, Yarn, and Post-CSS. Pretty cutting edge for today, outdated tomorrow! Enjoy it while it lasts :).
      <br />
      <br />
      So, about this blog. As a fledgling millennial trying to find my way in the world, I'm starting this blog to document my travels, adventures, career moves, and other fun life things!
      <br />
      <br />
      I am an avid hobbiest and love spending time outdoors doing white water rafting, kayaking, running, biking and climbing. Maybe Colorado is not such a bad place for me afterall. I also love home improvement. I'm a relatively new home owner and my boyfriend, Jack, and I have taken on the house full steam ahead. Finally, I love to cook so I'm sure I will throw some great recipies, and some not so great recipies, in the blog along the way.
      <br />
      <br />
      Thanks for stopping in and I hope you enjoy it!
      <br />
      &#10084; Marie
    </span>
  </div>
</div>
