@import '../../styles.css';

.blog-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 3rem;
  background: var(--opaque-beige, beige);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.blog-header {
  font-weight: 400;
  margin: 0;
  padding: 1rem 0;
}

.blog-image {
  max-width: 100%;
  align-self: center;
}

.blog-content {
  padding: 0 10% 1rem;
  font-size: 0.75rem;
  text-align: center;
}

.blog-abstract {
  margin-top: 0.25rem;
}
