@import '../../styles.css';

.archive-section {
  margin-top: 3rem;
}

.section-header {
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--black, black);
  padding: 1rem;
  margin: 0 5%;
}

.section-container {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
}
